
$white: #FFFFFF;
$black: #000000;
$purple: #462847;
$dark-gray:#585858;
$light-blue: #8BA9EE;
$blue-white: #D9EAFD;
$base-yellow: #FED638;
$light-yellow: #FFEB9E;

$base-dark: #363F5A;

$dark-white: #EEF5FF;
$text-color: #545F7E;

$blue: #6291F7;
$base-green: #20C836;
$base-gray: #E1E1E1;
$base-white: #FBFBFB;

