.collapse .nav-items.active:active {
    color: #00309E;
}

.right-sidebar {
    display: none;
    width: 100%;
    min-height: 750px;
    max-width: 450px;
    position: fixed;
    right: 0;
    top: 0;
    background: #EFF4FE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.right-sidebar.active {
    display: block;
}
.close-btn {
    background-color:#EFF4FE;
    font-size: 35px;
}
.selected {
    text-align: center;
    font: normal normal normal 16px/19px Montserrat;
    color: #462847;
    opacity: 1;
}
.dropdown-flex {
    justify-content: space-evenly;
}

.dropdown-btn {
    box-shadow: none;
    width: 140px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.sidebar-content {
    width: 100%;
    max-width: 333px;
    border-bottom: 1px solid #8BA9EE;
}
.total-sales {
    text-align: center;
    font: normal normal 600 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #462847;
}
.today {
    text-align: center;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #474747;
    
}
.loream {
    text-align: left;
    font: normal normal normal 16px/21px Montserrat;
    letter-spacing: 0px;
    color: #585858;
}
.pay-methode {
    width: 100%;
    max-width: min-content;
    font: normal normal 600 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #462847;
    white-space: nowrap;
    padding-left: 55px;
}
.paid {
    width: 100%;
    max-width: 333px;
}
.paid-date {
    text-align: center;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #6A6A6A;
}

.paid-btn {
    width: 77px;
    height: 30px;
    background: #FED638 0% 0% no-repeat padding-box;
    border-radius: 17px;
}
.paid-cost {
    text-align: center;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #6A6A6A;
}