@media(min-width: 320px) and (max-width: 600px){
    /* home page */

    .section3 .card__flex .cd__content {
        padding: 17px 0 33px 0;
    }

    .section3 .card__flex .cd{
        height: auto;
    }

/* end home page */

    /* edit-profile-customer */





    .flex-container{
        flex-direction: column;

    }


    .form-customer{
        margin-left: 0;
    }
    .upload_img_customer{
        margin:0 auto;
    }
    .expiration_date div select{
        width: 100%!important;
        margin-top: 20px;

    }

    .cvc{
        margin-left: 0;
    }

    .cvc input{
        width: 100%!important;
    }
    .expiration_date div select:last-of-type {
        margin-left: 0;
    }

    .add_card_customer img{
        margin-left: 10px;
        margin-top: 10px;
    }


    .check-input{
        display: flex;
        flex-direction: row!important;
    align-items: center;
    }

    .user-info.create__checkbox{
        padding-left: 0;
    }


    .user-info p{
        margin-bottom: 20px;

    }




      /*end edit-profile-customer */
    /* profile customer */
    .profile-customer-reviews-cont__info{
        flex-direction: column;
    }

    .profile-customer{
        width: 90%;
        margin: 0 auto;
    }

    .profile-customer__blok1-info .person__info-cont1 .person__info-name .edit-pen{
        margin-left: 20px;
    }

    .person__info-name{
        font-size: 20px;
    }


    .profile-customer__blok2 .profile-customer__my-appointments-button-edit{
        width: 65%;
        margin-left:0;
        margin-top: 20px;
    }

    .profile-customer__blok1,.profile-customer__blok2{
        margin:0 auto;
    }

    .profile-customer__blok2 .profile-customer-reviews-cont__info-name{
        flex-direction: column;
    }

    .profile-customer-reviews-cont__info-cont1{
        margin: 0 auto;
    margin-bottom: 10px;
    }


    .profile-customer .profile-customer__button{
        margin-bottom: 30px;
        margin-top: 0;
        text-align: center;
    }

    .profile-customer__blok2 .profile-customer-reviews-cont{
        margin-bottom: 36px;
    }

    /* end profile customer */




}
@media(min-width: 600px) and (max-width: 768px){



   /* edit-profile-customer */





   .flex-container{
    flex-direction: column;

}


.form-customer{
    margin-left: 0;
}
.upload_img_customer{
    margin:0 auto;
}
.expiration_date div select{
    width: 100%!important;
    margin-top: 20px;

}

.cvc{
    margin-left: 0;
}

.cvc input{
    width: 100%!important;
}
.expiration_date div select:last-of-type {
    margin-left: 0;
}

.add_card_customer img{
    margin-left: 10px;
    margin-top: 10px;
}


.check-input{
    display: flex;
    flex-direction: row!important;
align-items: center;
}

.user-info.create__checkbox{
    padding-left: 0;
}


.user-info p{
    margin-bottom: 20px;

}




  /*end edit-profile-customer */
    /* profile customer */
    .profile-customer-reviews-cont__info{
        flex-direction: column;
    }

    .profile-customer{
        width: 90%;
        margin: 0 auto;
    }

    .profile-customer__blok1-info .person__info-cont1 .person__info-name .edit-pen{
        margin-left: 20px;
    }

    .person__info-name{
        font-size: 20px;
    }


    .profile-customer__blok2 .profile-customer__my-appointments-button-edit{
        width: 65%;
        margin-left:0;
        margin-top: 20px;
    }

    .profile-customer__blok1,.profile-customer__blok2{
        margin:20px auto;
    }

    .profile-customer__blok2 .profile-customer-reviews-cont__info-name{
        flex-direction: column;
    }

    .profile-customer-reviews-cont__info-cont1{
        margin: 0 auto;
    margin-bottom: 10px;
    }


    .profile-customer .profile-customer__button{
        margin-bottom: 30px;
        margin-top: 0;
        text-align: center;
    }

    .profile-customer__blok2 .profile-customer-reviews-cont{
        margin-bottom: 36px;
    }


    .profile-customer__blok1{
        height: auto;
    }


    .my-appointments__complete-process-content-flex{
        flex-direction: column;
    }

    .my-appointments-person__info{
        justify-content: center;
        text-align: center;
    }
    /* end profile customer */

}
@media(min-width: 599px) and (max-width: 770px){
/* home page */
.section2 .card__flex .cd {
    width: 197px;
    height: 197px;
}

.section2 .card__flex .cd__content {

    padding: 23px 0 10px 0;
}
.footer__content{
    padding: 90px 40px 40px;
}
/* end home page */

}
@media(min-width: 768px) and (max-width: 1000px){



 /* edit-profile-customer */

.flex-container{
    width: 95%;
  margin:0 auto;
}
.form-customer{
 margin-left: 0px;
}

.add-card input{

    margin-bottom: 20px;
}

.expiration_date div select:last-of-type{
    margin-left: 0;
    margin-top: 20px;
}
.add-card input{
width:70%!important;
}
  /*end edit-profile-customer */


    /* profile customer */
    .profile-customer-reviews-cont__info{
        flex-direction: column;
    }

    .profile-customer{
        width: 90%;
        margin: 0 auto;
    }

    .profile-customer__blok1-info .person__info-cont1 .person__info-name .edit-pen{
        margin-left: 20px;
    }

    .person__info-name{
        font-size: 20px;
    }


    .profile-customer__blok2 .profile-customer__my-appointments-button-edit{
        width: 65%;
        margin-left:0;
        margin-top: 20px;
    }

    .profile-customer__blok1,.profile-customer__blok2{
        margin:20px auto;
    }

    .profile-customer__blok2 .profile-customer-reviews-cont__info-name{
        flex-direction: column;
    }

    .profile-customer-reviews-cont__info-cont1{
        margin: 0 auto;
    margin-bottom: 10px;
    }


    .profile-customer .profile-customer__button{
        margin-bottom: 30px;
        margin-top: 0;
        text-align: center;
    }

    .profile-customer__blok2 .profile-customer-reviews-cont{
        margin-bottom: 36px;
    }


    .profile-customer__blok1{
        height: auto;
    }


    .my-appointments__complete-process-content-flex{
        flex-direction: column;
    }

    .my-appointments-person__info{
        justify-content: center;
        text-align: center;
    }
    /* end profile customer */
/* home page */

.footer__content{
    padding: 90px 40px 40px;
}
/* end home page */

}
@media(min-width: 1000px) and (max-width: 1360px){

/* home page */

.footer__content{
    padding: 90px 40px 40px;
}
/* end home page */

     /* edit-profile-customer */

.flex-container{
    width: 95%;
  margin:0 auto;
}
.form-customer{
 margin-left: 0px;
}

.add-card input{

    margin-bottom: 20px;
}

.expiration_date div select:last-of-type{
    margin-left: 0;
    margin-top: 20px;
}
.add-card input{
width: 70%!important;
}

  /*end edit-profile-customer */
    .profile-customer{
        width: 95%;
    margin: 20px auto;
    }


    .profile-customer{
        flex-wrap: nowrap;
    }

    .profile-customer-my-appointments,.profile-customer-favorites,.profile-customer-reviews{
    width: 90%;
    margin: 0 auto;
    }

    .profile-customer__blok2 .profile-customer__my-appointments-button-edit{
    margin-left: 0;
    width: 80%;
    margin-top: 126px;
    }
    .profile-customer-reviews-cont__info-name-rat-clock{
        flex-direction: column;
    }

    .profile-customer-reviews-cont__info-name{
        flex-direction: column;
    }
 .profile-customer-reviews-cont__info-name-rat-clock{
     margin-top: 20px;
 }

 .profile-customer__blok2 .profile-customer-reviews-cont__info-name-rat-clock .profile-customer-cont-clock{
         padding-left:0;
         margin-top: 10px;
 }

 .profile-customer__blok2 .profile-customer-reviews-cont__info-text{
     width: 80%;
     font-size: 14px;
 }
 .profile-customer .profile-customer__button{
     margin-left: 30px;
 }
}
@media(min-width: 1360px) and (max-width: 1500px){

     /* edit-profile-customer */

     .flex-container{
        width: 95%;
      margin:0 auto;
    }
    .form-customer{
     margin-left: 0px;
    }

    .add-card input{

        margin-bottom: 20px;
    }

    .expiration_date div select:last-of-type{
        margin-left: 0;
        margin-top: 20px;
    }
    .add-card input{
    width: 70%!important;
    }

      /*end edit-profile-customer */



      /* home page */

      .footer__content{
        padding: 90px 40px 40px;
    }

      /* end home page */
}
@media(min-width: 1270px) and (max-width: 1760px){

    /* home page */
    .section2 .card__flex .cd__content {
        padding: 25px 0 30px 0;
    }


    .section2 .card__flex .cd__content p{
        font-size: 25px;
    }

    /*.cd__content img{*/
    /*    width: 100px;*/
    /*    height: 100px;*/
    /*}*/


    .card-container{
        max-width: 1100px;
        width:100%;
      margin:0 auto;
    }

    .section3 .card__flex .cd{
        width: 420px;
    }


    .section3 .card__flex .cd__content{
        padding: 30px 0;
    }

    .section3 .card__flex .cd__content p{
        font-size: 25px;
    }
    .section3 .card__flex{
        margin-bottom: 0;
    }

    .footer__content{
        padding: 90px 40px 40px;
    }
      /* end home page */


}
