.profile-practitioner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 63px;
    margin-bottom: 26px;
}
.profile-practitioner__user {
    position: relative;
    width: 100%;
    flex: 0 0 20%;
    max-width: 20%;
}
.profile-practitioner__consultation {
    position: relative;
    width: 100%;
    flex: 0 0 80%;
    max-width: 79%;
    padding-left: 69px;
}
.profile-practitioner .gl-star-rating--stars::before {
    display: none;
}
.profile-practitioner [data-star-rating] .gl-star-rating--stars[aria-label]:after {
    background: transparent;
    background: transparent;
    color: #fed638;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 600;
    margin-left: 2.84px;
    padding: 0;
}
.profile-practitioner [data-star-rating] .gl-star-rating--stars[class*=" s"] > span {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20%;
    /* display: block;
     */
    width: 15px;
    height: 15px;
    margin-right: 5.26px;
    background-size: cover;
}
.profile-practitioner .person {
    margin: 0;
    padding: 0;
}
.profile-practitioner .person__info {
    text-align: left;
    display: inline-block;
    margin-left: 36px;
    margin-bottom: 52px;
}
.profile-practitioner .person__info-name {
    margin-top: 36px;
}
.profile-practitioner .person__info-name .edit-pen {
    padding-top: 4px;
    float: right;
}
.profile-practitioner .person__info-skin {
    margin-bottom: 0;
}
.profile-practitioner .person__info-my {
    margin: 15px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.profile-practitioner .person__info-my p {
    margin-bottom: 16px;
}
.profile-practitioner .person__info-my p:last-child {
    margin-bottom: 0;
}
.profile-practitioner .profile__reviews {
    background-color: #fff;

    border-radius: 10px;
}
.profile-practitioner .profile__reviews-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 25px 0 22.47px 25px;
    border-bottom: 1px dashed #8ba9ee;
}
.profile-practitioner .profile__reviews-border {
    border: 1px dashed #8ba9ee;
    opacity: 0.45;
}
.profile-practitioner .profile__reviews-person {
    display: flex;
    align-items: center;
    padding: 36.58px 31px 36.18px 31px;
}
.profile-practitioner .profile__reviews-person>img {
    width: 87px;
    height: 87px;
}
.profile-practitioner .profile__reviews-person img {
    max-width: 100%;
    height: auto;
}
.profile-practitioner .profile__reviews-person .person__info-rating {
    display: inline-block;
    padding: 0;
}
.profile-practitioner .profile__reviews-content {
    flex: 0 0 70%;
    margin-left: 20px;
}
.profile-practitioner .profile__reviews-content-clock {
    display: inline-block;
}
.profile-practitioner .profile__reviews-content-clock .reviews-clock-data {
    font-size: 10px;
    line-height: 13px;
    vertical-align: text-top;
}
.profile-practitioner .profile__reviews-content .reviews-cooment {
    font-size: 16px;
    line-height: 20px;
    color: #565656;
}
.profile-practitioner__consultation-video {
    display: inline-block;
    width: 100%;
    padding: 0!important;
    text-align: center;
    background-color: #eff4fe;
    border-radius: 10px;
    /*max-height: 266px;*/
}
.profile-practitioner__consultation-carusel-block {
    padding: 0 30px!important;
}
.profile-practitioner__consultation-video input {
    width: 0;
}
.profile-practitioner__consultation-video label {
    cursor: pointer;
}
.profile-practitioner__consultation-time {
    background: #fff;

    border-radius: 10px;
    margin: 47px 0;
}
.profile-practitioner__consultation-time-content {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    padding-left: 33px;
    padding-top: 22px;
    padding-bottom: 48px;
}
.profile-practitioner__consultation-time-content .time-content-title img {
    padding-left: 21px;
    vertical-align: middle;
}
.profile-practitioner__consultation-time-content button {
    position: relative;
    padding: 9px 38px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 31px;
    margin-right: 21px;
}
.profile-practitioner__consultation-time-content button .x {
    position: absolute;
    top: -1px;
    right: 6px;
    cursor: pointer;
}
.item {
    padding: 40px 0;
    min-height: 585px;
    position: relative;
}
.item .italic-text span {
    font: italic normal 400 15px/12px Montserrat;
    color: #462847;
    margin-bottom: 8px;
}
.item .price {
    font: normal normal 300 39px/26px Montserrat;
    color: #462847;
}
.item .price .sup {
    font: normal normal 300 16px/24px Montserrat;
    color: #462847;
}
.item .price small {
    font: normal normal 500 12px/27px Montserrat;
    color: #8ba9ee;
}
.item.light-green {
    background: #f3faf6 0 0 no-repeat padding-box;
    border-radius: 10px;
}
.item.light-yellow {
    background: #fffae6 0 0 no-repeat padding-box;
    border-radius: 10px;
}
.item ul {
    /*max-height: 270px; */
    margin-bottom: 0;
}

.scrl ul {
    max-height: 270px;
    margin-bottom: 0;
}

.item ul li {
    display: flex;
    position: relative;
    margin-bottom: 6px;
}
.item ul li .fas {
    color: #8ba9ee;
}
.item .abs {
    position: absolute;
    top: 20px;
    right: 20px;
}
.item .abs .fas{
    cursor: pointer;
}
.item button.bg-yellow {
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    min-width: 190px;
    height: 41px;
}
.item button.save {
    margin: 0 auto;
    display: none;
}
.service h2 {
    font: normal normal 600 24px/28px Montserrat;
    color: #00309E;
}
.service h4 {
    font: normal normal 500 21px/28px Montserrat;
    color: #462847;
}
.services__content {
    background: #f5f9fe;
    border-radius: 10px;
    padding: 16px 4px 25px 23px;
}
.services__content-title {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 29px;
}
.services__content-title .x {
    position: absolute;
    top: -11px;
    right: 7px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.services__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #585858;
    width: 86%;
}
.services__content-aed {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 5px;
}
.services__content-aed span {
    color: #1e5cec;
}
.services__content-aed span:first-child {
    padding-left: 19px;
}
.services__content-book {
    padding-top: 35px;
}
.services__content-book a {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 35px;
}
.owl-theme .owl-dots .owl-dot span {
    background: transparent !important;
    border: 1px solid #707070;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000 !important;
    border: none !important;
}
.person-text {
    display: flex;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #8ba9ee !important;
    border: none !important;
    width: 12px;
    height: 12px;
}
.owl-theme .owl-dots .owl-dot span {
    /* background: transparent !important;
     */
    border: none !important;
    background: #d9eafd !important;
    width: 12px;
    height: 12px;
}
.img-space {
    width: 119px;
    height: 120px;
    overflow: hidden;
    border-radius: 15px;
}
#myProtocolsModal .alert.bg-light {
    background: #f5f9fe 0 0 no-repeat padding-box;
    border-radius: 32px;
}
#myProtocolsModal select.form-control {
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px #000029;
    border-radius: 5px;
    height: 50px;
}
#myProtocolsModal .m-header h2.modal-title {
    font: normal normal 600 30px/37px Montserrat;
    color: #462847;
}
#myProtocolsModal .m-header .color-blue {
    font-size: 40px;
}

.flex-1 {
    flex: 1;
}
.br-10 {
    border-radius: 10px;
}
.scrollable-space1,
.scrollable-space {
    max-height: 150px;
    overflow: auto;
    padding: 10px;
}
/* width */
body ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
body ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 3px;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
    background: #FED638;
    border-radius: 3px;
}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
    background:#FED638;
}
.edit {
    width: 100%;
}
sup {
    margin-right: 10px;
    font-size: 20px;
    top: 0;
}
.user-info-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 7px;
}
.add-card-edit-link {
    font: normal normal normal 20px/24px Montserrat;
    color: #00309E;
    margin-left: 0;
}
.user-info-about {
    padding-right: 12%;
}
a .fa-times {
    color: black;
}
.person__info .btn {
    white-space: nowrap;
}

.edit-profile__contact-img {
    background-color: #EFF4FE;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0!important;
    overflow: hidden;
}
.edit-profile__contact-img .upload{
    width: 100%;
    height: 100%;
}
.avatar-img {
    display: flex;
    align-items: center;
    /*border-radius: 10px;*/
    width: 150px;
    height: 150px;
    overflow: hidden;
    justify-content: center;
}


.avatar-img img{
    width: 100%;
}
.my-appointments__pagination  .page-link {
    border: 0!important;
}


/*MY INTAKE FORM*/
.h2_title {
    font: normal normal 600 40px/49px Montserrat;
    color: #462847;
}
.btn-yellow {
    background: #FED638 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px #00000029;
    border-radius: 10px;
    height: 42px;
    font: normal normal 500 18px/22px Montserrat;
    color: #462847;
    display: flex;
    max-width: fit-content;
    align-items: center;
}
.btn-light-blue {
    background: #8BA9EE 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px #00000029;
    border-radius: 10px;
    height: 42px;
    font: normal normal 500 18px/22px Montserrat;
    color: #462847;
    display: flex;
    max-width: fit-content;
    align-items: center;
}

.table td a {
    font: normal normal 500 16px/19px Montserrat;
    color: #462847;
}
.table th {
    font: normal normal 600 18px/22px Montserrat;
    color: #462847;
}
.table td,
.table th {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #EAF2FB;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #EAF2FB;
}


.activeNull{
    background-color: #569e66;
    border: 1px solid #35e74d !important;
}

 div > .activeNull .fc-content{
    /*color:#80b68c  !important;*/
     color:black  !important;
}

td  .activeNull{
    /*color: #569e66 !important;*/
    color:black  !important;
}

.activeUser{
    background: red !important;
    color: white !important;
    border: 1px solid #abab95 !important;

}

.activeUser .fc-content {
   display:  flex;
}

.activeUser .fc-content .fc-time {
   margin-right: 16px;
}

.max-dialog .fc-unthemed th,
.max-dialog .fc-unthemed td,
.max-dialog .fc-unthemed thead,
.max-dialog .fc-unthemed tbody,
.max-dialog .fc-unthemed .fc-divider,
.max-dialog .fc-unthemed .fc-row,
.max-dialog .fc-unthemed .fc-content,
.max-dialog .fc-unthemed .fc-popover,
.max-dialog .fc-unthemed .fc-list-view,
.max-dialog .fc-unthemed .fc-list-heading td {
    border-color: #8BA9EE;
}
.max-dialog .fc-unthemed th {
    background-color: #F5F9FE;
    color: #00309E!important;
    text-align: left;
    padding-left: 25px;
    font-size: 16px;
}
.max-dialog .fc table {
    font-size: 22px;
    line-height: 46px;
    color: #000;
    font-weight: bold;
}

.max-dialog {
    max-width: 1670px!important;
}
.max-dialog .fc-center h2{
    font: normal normal 400 16px/25px "Montserrat";
    color: #00309E;
}
.max-dialog .fc-state-disabled {
    opacity: 1;
    color: #00309E;
    border: 0;
}
.max-dialog .title{
    font: normal normal 600 30px/37px Montserrat;
    color: #00309E;
}
.max-dialog .modal-body {
    max-height: 90vh;
    overflow: auto;
    padding: 0 60px;
}
.max-dialog .fc .fc-button-group > * {
    float: left;
    margin: 0 0 0 11px;
    border: 0;
    color: #00309E;
    box-shadow: none!important;
}
.max-dialog .fc-state-default {
    background-color: #E4E6E8;
    background-image: none;
    text-shadow: none;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    min-width: 100px;
    height: 40px;
}
.max-dialog .fc-state-down,
.max-dialog .fc-state-active {
    background-color: #8BA9EE;
    color: #fff!important;
}
.max-dialog .fc-unthemed td.fc-today {
    background: #8BA9EE;
}
#myModal2 .modal-body a{
    width: 330px;
    height: 80px;
    background: #D9EAFD 0 0 no-repeat padding-box;
    border: 1px solid #8BA9EE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font: normal normal 500 25px/11px Montserrat;
    color: #462847;
    text-transform: capitalize;
}
#myModal2 .modal-lg {
    max-width: 950px;
}
#myModal2 .back-btn {
    font: normal normal normal 16px/25px Montserrat;
    color: #8BA9EE;
    background-color: transparent;
}
#myModal2 .modal-body a img{
 margin-right: 16px;
}
#myModal2 .title{
    font: normal normal 600 30px/37px Montserrat;
    color: #00309E;
}
#myModal2 .info-text{
    font: normal normal 500 18px/11px Montserrat;
    color: #462847;
}

#countryList {
    overflow: auto;
    max-height: 300px;
    margin-top: -15px;
    width: calc(100% - 87px);
}
#countryList ul {
    padding: 0!important;
    width: 100%;
}
#countryList ul li {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
#countryList ul li:last-child {
    border-bottom: 0;
}
#countryList ul li a {
    color: #0a0a14;
    font-weight: 600;
}
#countryList ul li:hover {
    background-color: #eee;
}

#exampleFormControlSelect1.active,
#exampleFormControlSelect1:active {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.modal__formm.lg-header-formm {
    min-width: 300px;
    max-width: 600px;
    padding: 0 20px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.profile-customer__blok2 .profile-customer-reviews-cont__info .reviews-clock-data {
    font-size: 15px;
}
.profile-customer__blok2 .profile-customer-reviews-cont__info-name-rat-clock .profile-customer-cont-clock {
    padding-left: 40px;
}

#edit-icon{
    display: block;
    text-align: right;
    margin-bottom: 16px;
}
.fs-24 {
    font-size: 24px!important;
}
#LeaveReview .modal-title {
    font: normal normal 600 30px/37px Montserrat;
    color: #00309E;
}
#LeaveReview .small-title {
    font: normal normal 500 18px/25px Montserrat;
    color: #462847;
}
#LeaveReview .abs {
    top: 20px;
    right: 30px;
    position: absolute;
}

#LeaveReview .rate {
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#LeaveReview .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
#LeaveReview .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 53px;
    line-height: 63px;
    color: #ccc;
}
#LeaveReview .rate:not(:checked) > label:before {
    content: '☆ ';
}
#LeaveReview .rate > input:checked ~ label {
    color: #ffc700;
}
#LeaveReview .rate:not(:checked) > label:hover,
#LeaveReview .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
#LeaveReview .rate > input:checked + label:hover,
#LeaveReview .rate > input:checked + label:hover ~ label,
#LeaveReview .rate > input:checked ~ label:hover,
#LeaveReview .rate > input:checked ~ label:hover ~ label,
#LeaveReview .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
@media (max-width: 768px) {
    .profile-practitioner__consultation {
        padding-left: 0;
    }
}

